*/.env
*/.env.stg
*/.env.prd
*/.env.dev
*/.env.demo
*/secret.json

# contract secrets
contract/*/secrets.json
firebase/build/
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
**/.DS_Store
node_modules/
package-lock.json
listener/logs/
backend/logs/
*/serviceAccounts/*.json
*/service-accounts/*.json

test.json
contract/GameV4/.env.prd
contract/GameV4/.env.stg
app/.env.prd.beta
app/.env.stg-v2
backend/.env.stg-v2
script/.env.stg-v2
listener/.env.stg-v2
cronjob/.env.stg-v2
